<!DOCTYPE html>
{% extends "base.html" %}
{% load staticfiles %}

{% block metadescription %} {{static_pages.meta_description|add:"160" }}  {% endblock %}
{% block metakeywords %} {{static_pages.meta_keywords}} {% endblock %}
{% block metaauthor %} {{static_pages.meta_author}} {% endblock %}
{% block title %} Create New Page {% endblock %}

{% block content %}
<div class="container">
    {% if user.is_authenticated  and user.is_superuser == 1 %}
      <br>
      {% if not staticpages.id %}
        <h3>Create New Page</h3>
      {% else %}
        <h3>Update {{staticpages.page_title}} Page</h3>
      {% endif %}
      <form class="" method="POST">
        {% csrf_token %}
        {{ form.media }}
        {{form.as_p}}
        {% if not staticpages.id %}
        <input class= "btn btn-lg btn-info btn-block" type="Submit" name="" value="Create">
        <input type="hidden" name="created_by" value="{{user}}">
        {% else %}
        <input class= "btn btn-info" type="Submit" name="" value="Update">
        <a class="btn btn-default" href="{% url 'static_pages:static_pages_detail' slug=staticpages.slug %}">Cancel</a>
        <input type="hidden" name="created_by" value="{{staticpages.created_by}}">
        <input type="hidden" name="updated_by" value="{{user}}">
        <br>
        Create by: {{staticpages.created_by}} At: {{staticpages.created_at}}
        {% if staticpages.updated_by %}
          <br>
          Updated by: {{staticpages.updated_by}} At: {{staticpages.updated_at}}
          <br>
        {% endif %}
        {% endif %}
      </form>
    {% else %}
      <br>
      <center><h1>Access Denied!</h1></center>
      <br>
    {% endif %}
</div>
<br>
<br>
<br>


{% endblock %}
