<!DOCTYPE html>
{% extends "base.html" %}
{% load staticfiles %}

{% block metadescription %} List Of templates {% endblock %}
{% block metakeywords %} <!-- Text Here --> {% endblock %}
{% block metaauthor %} <!-- Text Here --> {% endblock %}

{% block title %}List Of Templates{% endblock %}

{% block content %}

<div class="container">

    {% if user.is_authenticated  and user.is_superuser == 1 %}
    <br>
    <div class="section-title-wrapper section-title-wrapper__sm">
      <center>
        <h1 class="section-title">List Of All Templates</h1>
        <br>
      </center>
  </div>

  <div class="title-bordered border__dashed">
    <a href="{% url 'sms:template_create' %}">
      <span class="fa fa-pencil"> Create New template</span>
    </a>
  </div>

    <ul>
      {% for template in template_list %}

          <li>

            <a  href="{% url  'sms:template_update' pk=template.pk %}">
              <span class='fa fa-edit'></span>
            </a>
              <a href="{% url 'sms:template_detail' pk=template.pk %}">{{template.name}}</a>
              Status:{{template.active}}
          </li>
      {% endfor %}
    </ul>
    {% else %}
      <br>
      <center><h1>Access Denied!</h1></center>
      <br>
    {% endif %}
</div>


<!-- pagination Start here -->
<center>{% if is_paginated %}
  <ul class="pagination list-unstyled list-inline">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled "><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active "><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled "><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}</center>
<!-- pagination End here -->


{% endblock %}
