{% extends 'base.html' %}

{% load  staticfiles %}

{% block slider %}
    <div class="tp-banner-holder container">
        <div class="tp-banner-container">
            <div class="tp-banner">
                <ul>
                    <!-- SLIDE #1  -->
                    <li data-transition="random" data-slotamount="1" data-masterspeed="1000" data-delay="6000" >

                        <!-- MAIN IMAGE -->
                        <img src="{% static 'img/transparent.png' %}" height="10" width="10" alt="slidebg1" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

                        <!-- LAYERS -->

                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption rocket_large_white customin ltl tp-resizeme"
                             data-x="center" data-hoffset="0"
                             data-y="center" data-voffset="-197"
                             data-customin="x:5;y:0;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:5;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                             data-speed="500"
                             data-start="500"
                             data-easing="Power4.easeIn"
                             data-splitin="chars"
                             data-splitout="none"
                             data-elementdelay="0.1"
                             data-endelementdelay="0.1"
                             data-endspeed="1000"
                             style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;">Awesome Theme
                        </div>

                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption rocket_verysmall_white_mw text-center customin ltl tp-resizeme"
                             data-x="center" data-hoffset="0"
                             data-y="center" data-voffset="-80"
                             data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                             data-speed="800"
                             data-start="1800"
                             data-easing="easeOutQuad"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.01"
                             data-endelementdelay="0.1"
                             data-endspeed="1000"
                             data-endeasing="Power4.easeIn"
                             style="z-index: 10; max-width: 770px; max-height: auto; white-space: nowrap;">The Rocket Multipurpose HTML Template has awesome design for each of your ideas. It is designed for corporate and business websites, shops, blogs, own portfolio purpose and much more.
                        </div>

                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption rocket_verysmall_white_mw customin ltl tp-resizeme"
                             data-x="center" data-hoffset="-130"
                             data-y="center" data-voffset="39"
                             data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                             data-speed="800"
                             data-start="2000"
                             data-easing="easeOutQuad"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.01"
                             data-endelementdelay="0.1"
                             data-endspeed="1300"
                             data-endeasing="Power4.easeIn"
                             style="z-index: 10; max-width: auto; max-height: auto; white-space: nowrap;">
                            <a href="#" class="btn btn-primary btn-has-icon"><i class="fa fa-trophy"></i> View about us</a>
                        </div>

                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption rocket_verysmall_white_mw customin ltl tp-resizeme"
                             data-x="center" data-hoffset="130"
                             data-y="center" data-voffset="39"
                             data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                             data-speed="800"
                             data-start="2100"
                             data-easing="easeOutQuad"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.01"
                             data-endelementdelay="0.1"
                             data-endspeed="1300"
                             data-endeasing="Power4.easeIn"
                             style="z-index: 10; max-width: auto; max-height: auto; white-space: nowrap;">
                            <a href="#" class="btn btn-primary btn-has-icon icon-right"><i class="fa fa-shopping-cart"></i> Purchase Now</a>
                        </div>

                    </li>


                    <!-- SLIDE #2  -->
                    <li data-transition="random" data-slotamount="1" data-masterspeed="1000" data-delay="6000" >

                        <!-- MAIN IMAGE -->
                        <img src="{% static 'img/transparent.png' %}" height="10" width="10" alt="slidebg1" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

                        <!-- LAYERS -->

                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption rocket_large_white customin ltl tp-resizeme"
                             data-x="center" data-hoffset="0"
                             data-y="center" data-voffset="-197"
                             data-customin="x:5;y:0;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:5;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                             data-speed="500"
                             data-start="500"
                             data-easing="Power4.easeIn"
                             data-splitin="chars"
                             data-splitout="none"
                             data-elementdelay="0.1"
                             data-endelementdelay="0.1"
                             data-endspeed="1000"
                             style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;">Bootstrap 3
                        </div>

                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption rocket_verysmall_white_mw text-center customin ltl tp-resizeme"
                             data-x="center" data-hoffset="0"
                             data-y="center" data-voffset="-80"
                             data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                             data-speed="800"
                             data-start="1800"
                             data-easing="easeOutQuad"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.01"
                             data-endelementdelay="0.1"
                             data-endspeed="1000"
                             data-endeasing="Power4.easeIn"
                             style="z-index: 10; max-width: 770px; max-height: auto; white-space: nowrap;">The template is fully prepared for development, converting to WordPress, Joomla, Drupal and any other CMS. Template has responsive design build on Bootstrap 3, 1170px Grid.
                        </div>

                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption rocket_verysmall_white_mw customin ltl tp-resizeme"
                             data-x="center" data-hoffset="-130"
                             data-y="center" data-voffset="39"
                             data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                             data-speed="800"
                             data-start="2000"
                             data-easing="easeOutQuad"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.01"
                             data-endelementdelay="0.1"
                             data-endspeed="1300"
                             data-endeasing="Power4.easeIn"
                             style="z-index: 10; max-width: auto; max-height: auto; white-space: nowrap;">
                            <a href="#" class="btn btn-primary btn-has-icon"><i class="fa fa-trophy"></i> View about us</a>
                        </div>

                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption rocket_verysmall_white_mw customin ltl tp-resizeme"
                             data-x="center" data-hoffset="130"
                             data-y="center" data-voffset="39"
                             data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                             data-speed="800"
                             data-start="2100"
                             data-easing="easeOutQuad"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.01"
                             data-endelementdelay="0.1"
                             data-endspeed="1300"
                             data-endeasing="Power4.easeIn"
                             style="z-index: 10; max-width: auto; max-height: auto; white-space: nowrap;">
                            <a href="#" class="btn btn-primary btn-has-icon icon-right"><i class="fa fa-shopping-cart"></i> Purchase Now</a>
                        </div>

                    </li>


                    <!-- SLIDE #1  -->
                    <li data-transition="random" data-slotamount="1" data-masterspeed="1000" data-delay="6000" >

                        <!-- MAIN IMAGE -->
                        <img src="{% static 'img/transparent.png' %}" height="10" width="10" alt="slidebg1" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

                        <!-- LAYERS -->

                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption rocket_large_white customin ltl tp-resizeme"
                             data-x="center" data-hoffset="0"
                             data-y="center" data-voffset="-197"
                             data-customin="x:5;y:0;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:5;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                             data-speed="500"
                             data-start="500"
                             data-easing="Power4.easeIn"
                             data-splitin="chars"
                             data-splitout="none"
                             data-elementdelay="0.1"
                             data-endelementdelay="0.1"
                             data-endspeed="1000"
                             style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;">40+ Pages
                        </div>

                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption rocket_verysmall_white_mw text-center customin ltl tp-resizeme"
                             data-x="center" data-hoffset="0"
                             data-y="center" data-voffset="-80"
                             data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                             data-speed="800"
                             data-start="1800"
                             data-easing="easeOutQuad"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.01"
                             data-endelementdelay="0.1"
                             data-endspeed="1000"
                             data-endeasing="Power4.easeIn"
                             style="z-index: 10; max-width: 770px; max-height: auto; white-space: nowrap;">Rocket HTML Template can accomodate for all kinds of purposes: Web App, Mobile Development, Start Up Project, Portfolio, Landing Page or your own product.
                        </div>

                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption rocket_verysmall_white_mw customin ltl tp-resizeme"
                             data-x="center" data-hoffset="-130"
                             data-y="center" data-voffset="39"
                             data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                             data-speed="800"
                             data-start="2000"
                             data-easing="easeOutQuad"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.01"
                             data-endelementdelay="0.1"
                             data-endspeed="1300"
                             data-endeasing="Power4.easeIn"
                             style="z-index: 10; max-width: auto; max-height: auto; white-space: nowrap;">
                            <a href="#" class="btn btn-primary btn-has-icon"><i class="fa fa-trophy"></i> View about us</a>
                        </div>

                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption rocket_verysmall_white_mw customin ltl tp-resizeme"
                             data-x="center" data-hoffset="130"
                             data-y="center" data-voffset="39"
                             data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                             data-speed="800"
                             data-start="2100"
                             data-easing="easeOutQuad"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.01"
                             data-endelementdelay="0.1"
                             data-endspeed="1300"
                             data-endeasing="Power4.easeIn"
                             style="z-index: 10; max-width: auto; max-height: auto; white-space: nowrap;">
                            <a href="#" class="btn btn-primary btn-has-icon icon-right"><i class="fa fa-shopping-cart"></i> Purchase Now</a>
                        </div>

                    </li>

                </ul>
            </div>
        </div>
    </div>
{% endblock %}